* {
    margin: 0px;
    padding: 0px;
}

.system-wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.system-wrap a {
    color: black;
    text-decoration: none;
}

.item {
    height: 230px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    font-size: 25px;
}

#item1 {
    background-color: green;
}

#item2 {
    background-color: white;
}

#item3 {
    background-color: blue;
}

#item4 {
    background-color: gray;
}

#item5 {
    background-color: red;
}

#item6 {
    background-color: yellow;
}

#item7 {
    background-color: violet;
}

